/* setup container styles */
/* Added by EGYPTAIR to hide the chatbot from USA site */
.countryUSA #chatbot-plugin{display: none!important}

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

.bubble-container {
    opacity: 1;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 4000;
    direction: ltr;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.chat-container-open {
    order: 1;
    flex-grow: 3;
    min-width: 307px;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.3);
    background-color: #F8F8F8;
}

/*phones*/
@media only screen and (max-width: 576px) {
    .chat-container-open {
        width: 100%;
        top: 13%;
        bottom: 0;
        min-height: 200px;
        -webkit-border-radius: 4%;
        -moz-border-radius: 4%;
        border-radius: 4%;
    }
}

/*desktops and tablets*/
@media only screen and (min-width: 577px) {
    .chat-container-open {
        width: 380px;
        height: 560px;
        right: 35px;
        bottom: 60px;
        min-height: 395px;
    }
}

.chat-container-close {
    display: none;
}

.chat-container .header {
    order: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FCFCFC;
    z-index: inherit;
}

#chatbot-plugin .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #041571;
    /* background-image: linear-gradient(to right, #4D4AB9, #5451FF);*/
    min-height: 55px;
}

.header-text {
    order: 1;
    flex-basis: auto;
    padding: 20px 20px 17px;
    color: #FFFFFF;
    font-family: "Raleway", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.login-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 29%;
    background-image: linear-gradient(to right, #4D4AB9, #5451FF);
    min-height: 55px;
    color: #FFFFFF;
    font-family: "Raleway", "Helvetica Neue", sans-serif;
}

.login-header-text-container {
    order: 1;
    flex-basis: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin: 8%;
}

.login-header-airline-name {
    order: 1;
    font-size: 18px;
    font-weight: 600;
    display: flex;
}

.login-header-welcome-text {
    order: 2;
    font-size: 24px;
    font-weight: bold;
}

.login-header-provide-details {
    order: 3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

.status-online-icon {
    background-image: url(../icons/wc-online-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 6px;
    margin: 5px;
}


.header-close-icon {
    order: 2;
    flex-basis: auto;
    background-image: url(../icons/wc-chat-close-header-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px 10px 10px 10px;
    margin: 5%;
    align-self: normal;
}

.status-offline-icon {
    background-image: url(../icons/wc-offline-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    margin: 5px;
}


.web-chat-open-icon {
    order: 2;
    position: fixed;
    right: 30px;
    bottom: 0px;
    z-index: inherit;
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../icons/wc-chat-open-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*phones*/
@media only screen and (max-width: 576px) {
    .web-chat-open-icon {
        padding: 40px;
    }
}

/*desktops and tablets*/
@media only screen and (min-width: 577px) {
    .web-chat-open-icon {
        padding: 30px;
    }
}

.web-chat-close-icon {
    order: 2;
    position: fixed;
    right: 30px;
    bottom: 0px;
    z-index: inherit;
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../icons/wc-chat-close-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
}

@media only screen and (max-width: 576px) {
    .web-chat-close-icon {
        display:none;
    }
}

.bubble-wrap {
    order: 2;
    flex-grow: 1;
    top: 0;
    left: 0;
    right: -17px;
    height: 420px;
    background-color: #F6F6F8;
    padding: 10px calc(17px + 10px) 30px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    z-index: inherit;
    /* Customising scrollbar for firefox */
    scrollbar-width: thin;
    scrollbar-color: darkgrey white;

}

/* Customising scrollbar for webkit browsers */
.bubble-wrap::-webkit-scrollbar {
    width: 5px;
}


/* Customising scrollbar for webkit browsers */
.bubble-wrap::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

/* Customising scrollbar for webkit browsers */
.bubble-wrap::-webkit-scrollbar-thumb:hover {
    background-color: slategrey;
}

/* optional page styles */
h1 {
    text-align: center;
    font-weight: 300;
    font-size: 4em;
    margin: .5em auto 0.15em;
}

body {
    font-family: "Lato", "Helvetica", sans-serif;
    margin: 0;
}

button:focus {
    outline: none;
}

.personal-details-form {
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    top: 0;
    left: 0;
    right: -17px;
    background-color: #FCFCFC;
    padding: 10px 10px 10px 10px;
    -webkit-transform: translate3d(0, 0, 0);
    z-index: inherit;
}

.personal-details-provide-details {
    order: 1;
    flex-grow: 3;
    flex-basis: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.personal-details-span {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 10px;
    line-height: 1.5;
    color: #61688F;
}

.personal-details-div {
    order: 2;
    flex-grow: 1;
    flex-basis: auto;
    width: 93%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:invalid {
    border: 1px solid red;
}

.personal-details-input {
    height: 56px;
    width: 100%;
    color: #61688F;
    border: solid 2px #E0DFE7;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    padding: 1.5% 1.5% 1.5% 5.5%;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.personal-details-input:focus {
    outline: none;
    border-width: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #4D4AB9, #5451FF);
}

.personal-details-input::placeholder {
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: #61688F;
}

.personal-details-input-label {
    position: relative;
    top: 9px;
    left: 4.5%;
    font-size: 16px;
    color: #61688F;
    background-color: #FFFFFF;
    text-align: left;
    padding: 0 5px 0 5px;
}

.personal-details-input::-moz-placeholder {
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: #61688F;
}

.personal-details-input-error {
    border: 1px solid #D60202;
}


.personal-details-error-message {
    color: #D60202;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1%;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.visibility-hidden {
    visibility: hidden;
}

.personal-details-start-chat-button {
    width: 87%;
    height: 56px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: inherit;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(to right, #4D4AB9, #5451FF);
}

.loading-icon {
    order: 2;
    flex-grow: 1;
    background-image: url(../icons/wc-loading-icon.svg);
    /*background-size: contain;*/
    background-repeat: no-repeat;
    /*margin-left: 7%;*/
    height: 420px;
    background-color: #EEEEEE;
}

/*phones*/
@media only screen and (max-width: 576px) {
    body {
        font-size: 15px;
    }

    .personal-details-error-message {
        font-size: 0.8em;
    }

    .bubble {
        font-size: 1em;
    }

    .bubble.say {
        max-width: 80%;
    }

    .bubble.reply {
        max-width: 80%;
    }

    .personal-details-start-chat-button {
        padding: 3%;
        width: 90%;
    }

    .personal-details-form {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .personal-details-div {
        width: 90%;
        margin: auto auto 5% auto;
    }

    .personal-details-div input {
        padding: 1.5% 1.5% 1.5% 5.5%;
    }

    .personal-details-provide-details {
        margin: 10% auto 10% auto;
    }

    .personal-start-chat {
        margin: 10% auto auto auto;
        text-align: center;
    }

    .display-none {
        display: none;
    }
}

/*desktops and tablets*/
@media only screen and (min-width: 577px) {
    .personal-details-form {
        display: flex;
    }

    .display-none {
        display: none;
    }

    .personal-start-chat {
        display: flex;
        order: 5;
        flex-grow: 1;
        flex-basis: auto;
        justify-content: center;
        width: 100%;
    }

}

div.chat-button-container + div.bubble.say {
    margin-bottom: 10px;
}

input::-ms-clear {
    display: none;
}